.sidebar {
    position: sticky;
    top: 0;
    width: 60rem;
    height: 100vh;
    flex-shrink: 0;
    background-color: var(--sky-blue);
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    display: inline-block;
    padding-top: 2rem;
    padding: 0 12.6rem;
    border-radius: 2.4rem;

    font-family: inherit;
    font-size: 1.6rem;
    text-decoration: none;
    background-color: var(--white);
    color: var(--white);
    
}

.nav-link {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--gray);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}